body {
  background-color: black;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-family: "Helvetica Neue", sans-serif;
}

.card {
  text-align: center;
  background-color: #1c1f2b;
  color: white;
  flex-basis: 50%;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

/*
  before for the glow effect and shits
  also using variables bt aint good for animation so usin property shits!?
  
  */

@property --angle {
  syntax: "<angle>"; /* means only deg acceptable num*/
  initial-value: 0deg;
  inherits: false;
}
.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff4545
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.card::before {
  filter: blur(1.5rem);
  opacity: 0.6;
}
